.assinatura {
  margin-bottom: 18.875rem;
  
  & h3 {
    font: var(--title-sm);
    color: var(--text-title);
    
    max-width: 18.375rem;
    margin: 12.125rem auto 3.5rem;
    text-align: center;
  }

  & div.card-container {

    max-width: 1050px;
    height: 606px;
    margin: 0 auto;
    padding: 5.125rem 0 6.75rem;
    position: relative;

    & img.stars-left {
      position: absolute;
      top: 10%;
      left: 30%;
      transition: top 300ms ease, left 300ms;
      
    }

    &:hover img.stars-left {
      position: absolute;
      top: 20%;
      left: 5%;
      
    }

    & img.stars-right {
      position: absolute;
      transform: rotate(60deg);
      bottom: 10%;
      right: 35%;
      transition: bottom 300ms ease, right 300ms;
    }

    &:hover img.stars-right {
      position: absolute;
      bottom: 0%;
      right: 10%;
    }

    & .card-semestral {
      background-color: var(--shape-hover);
      max-width: 288px;
      height: 416px;
      border-radius: 24px;
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & img.purple-rabbit {
        position: absolute;
        bottom: 100%;
        left: 11%;
      }

      & .card-grid-semestral {
        position: relative;
        padding: 2rem 2rem 0;
        display: grid;
        grid-template-areas: 
          "titulo"
          "preco-mensal"
          "preco-anual";

        & h4 {
          grid-area: titulo;
          font: var(--title-xs);
          color: var(--pink-light);
        }

        & p.trending {
          font: var(--tag);
          color: var(--text-body);
          background-color: var(--shape-stroke);
          border-radius: 999px;
          /* Tag */

          position: absolute;
          width: 5.625rem;
          height: 1.875rem;
          left:60%;
          top: 10%;
          z-index: 2;
          text-align: center;
          align-content: center;
        }

        & p.preco-mensal {
          grid-area: preco-mensal;
          font: var(--title-sm);
          color: var(--text-title);
          margin-top: 1.5rem;
        }

        & p.preco-anual {
          grid-area: preco-anual;
          font: var(--body-sm-regular);
          color: var(--text-label);
          margin-top: 0.5rem;
          margin-bottom: 4.375rem;
        }
      }

      & ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 14rem;
        margin: 0 auto;
      }

      & li {
        font: var(--body-xs-regular);
        color: var(--text-body);
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & img {
          width: 0.875rem;
          height: 0.875rem;
          filter: invert(0.3) sepia(1) saturate(5) hue-rotate(240deg) brightness(0.85);
        }
      }

      & .card-button-semestral {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--pink-base);
        color: var(--text-body);
        border: none;
        border-radius: 8px;
        width: 14rem;
        height: 2.5rem;
        margin: 1.5rem auto 1.75rem;
        cursor: pointer;
      }
    }

    & .card-mensal {
      background-color: var(--shape-base);
      max-width: 288px;
      height: 416px;
      border-radius: 24px;
      margin: 0 auto;
      z-index: -1;
      position: absolute;
      top: 13.4%;
      left: 37%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 300ms ease, top 300ms ease, left 300ms ease;
     

      & .card-grid-mensal {
        position: relative;
        padding: 2rem 2rem 0;
        display: grid;
        grid-template-areas: 
          "titulo"
          "preco-mensal"
          "preco-anual";

        & h4 {
          grid-area: titulo;
          font: var(--title-xs);
          color: var(--blue-light);
        }

        & p.preco-mensal {
          grid-area: preco-mensal;
          font: var(--title-sm);
          color: var(--text-title);
          margin-top: 1.5rem;
        }

        & p.preco-anual {
          grid-area: preco-anual;
          font: var(--body-sm-regular);
          color: var(--text-label);
          margin-top: 0.5rem;
          margin-bottom: 4.375rem;
        }
      }

      & ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 14rem;
        margin: 0 auto;
      }

      & li {
        font: var(--body-xs-regular);
        color: var(--text-body);
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & img {
          width: 0.875rem;
          height: 0.875rem;
          filter: invert(0.5) sepia(1) saturate(5) hue-rotate(180deg) brightness(1.1);
        }
      }

      & .card-button-mensal {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--blue-dark);
        color: var(--text-body);
        border: none;
        border-radius: 8px;
        width: 14rem;
        height: 2.5rem;
        margin: 1.5rem auto 1.75rem;
        cursor: pointer;
      }
    }

    &:hover .card-mensal {
      transform: rotate(-8deg);
      top: 23%;
      left: 10%;
    }

    & .card-anual {
      background-color: var(--shape-base);
      max-width: 288px;
      height: 416px;
      border-radius: 24px;
      margin: 0 auto;
      z-index: -1;
      position: absolute;
      top: 13.4%;
      right: 37%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 300ms ease, top 300ms ease, right 300ms ease;

      & .card-grid-anual {
        position: relative;
        padding: 2rem 2rem 0;
        display: grid;
        grid-template-areas: 
          "titulo"
          "preco-mensal"
          "preco-anual";

        & h4 {
          grid-area: titulo;
          font: var(--title-xs);
          color: var(--blue-light);
        }

        & p.preco-mensal {
          grid-area: preco-mensal;
          font: var(--title-sm);
          color: var(--text-title);
          margin-top: 1.5rem;
        }

        & p.preco-anual {
          grid-area: preco-anual;
          font: var(--body-sm-regular);
          color: var(--text-label);
          margin-top: 0.5rem;
          margin-bottom: 4.375rem;
        }
      }

      & ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 14rem;
        margin: 0 auto;
      }

      & li {
        font: var(--body-xs-regular);
        color: var(--text-body);
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & img {
          width: 0.875rem;
          height: 0.875rem;
          filter: invert(0.5) sepia(1) saturate(5) hue-rotate(180deg) brightness(1.1);
        }
      }

      & .card-button-anual {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--blue-dark);
        color: var(--text-body);
        border: none;
        border-radius: 8px;
        width: 14rem;
        height: 2.5rem;
        margin: 1.5rem auto 1.75rem;
        cursor: pointer;
      }
    }

    &:hover .card-anual {
      transform: rotate(8deg);
      top: 23%;
      right: 10%;
    }
  }
}