.kit-mensal {
  
  & h3 {
    font: var(--title-sm);
    color: var(--text-title);
  }

  & p {
    font: var(--body-md-regular);
    color: var(--text-body);
    opacity: 0.5;
    text-align: center;
    margin-bottom: 5.5rem;
  }

  & div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.375rem;
    margin-bottom: 5px;
  }

  & .book-container {
    max-width: 1440px;
    min-height: 920px;

    position: relative;
    margin: auto;

    & .book {
      position: absolute;
      max-width: 467px;
      height: 617px;
      margin-top: 8.375rem;
      top: 0;
      left: 49%;
      transform: translateX(-50%);
      
      z-index: 5;
    }

    & .yellowBookmark {
      position: absolute;
      width: 172px;
      height: auto;
      top: 20%;
      left: 51%;
      transition: transform 300ms ease, top 300ms ease, left 300ms ease;
      
      z-index: 4;
    }

    &:hover .yellowBookmark {
      top: 18%;
      left: 61.5%;
      transform: rotate(12deg);
    }

    & .purpleBookmark {
      position: absolute;
      max-width: 172px;
      height: 536px;
      top: 20%;
      left: 51%;
      transition: transform 300ms ease, top 300ms ease, left 300ms ease;
      
      z-index: 3;
    }

    &:hover .purpleBookmark {
      top: 21%;
      left: 69%;
      transform: rotate(22deg);
    }

    & .pin {
      position: absolute;
      max-width: 222px;
      height: 254px;
      top: 30%;
      left: 35%;
      transition: transform 300ms ease, top 300ms ease, left 300ms ease;
      z-index: 3;
      
    }

    &:hover .pin {
      top: 63.5%;
      left: 23%;
      transform: rotate(-8deg);
    }

    & .arrow1 {
      position: absolute;
      top: 20%;
      left: 38%;
      transition: top 300ms ease, left 300ms ease;

      z-index: 3;
    }

    &:hover .arrow1 {
      top: 12.5%;
      left: 23.5%;
    }

    & .p1 {
      position: absolute;
      top: 20%;
      left: 38%;
      transition: top 300ms ease, left 300ms ease;

      z-index: 3;
    }

    &:hover .p1 {
      top: 9%;
      left: 18%;
    }

    & .arrow2 {
      position: absolute;
      top: 30%;
      left: 38%; 
      transition: top 300ms ease, left 300ms ease;

      z-index: 3;
    }

    &:hover .arrow2 {
      top: 55%;
      left: 20%; 
    }

    & .p2 {
      position: absolute;
      top: 30%;
      left: 38%;
      transition: top 300ms ease, left 300ms ease;

      z-index: 3;
    }

    &:hover .p2 {
      top: 51%;
      left: 18%;
    }


    & .arrow3 {
      position: absolute;
      top: 35%;
      right: 37%;  
      transition: top 300ms ease, right 300ms ease;

      z-index: 3;
    }

    &:hover .arrow3 {
      top: 76%;
      right: 23%;  
    }

    & .p3 {
      position: absolute;
      top: 20%;
      right: 37%;
      transition: top 300ms ease, right 300ms ease;

      z-index: 3;
    }

    &:hover .p3 {
      top: 94%;
      right: 26%;
    }
  }
}