.kit-mensal {
  
  & h3 {
    font: var(--title-sm);
    color: var(--text-title);
  }

  & p {
    font: var(--body-md-regular);
    color: var(--text-body);
    opacity: 0.5;
    text-align: center;
    margin-bottom: 5.5rem;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 2.375rem;
    margin-bottom: 5px;
  }

  & .book-container {
    max-width: 1440px;
    height: 920px;
    width: 100%;
    margin: 0 auto;
    align-content: center;

    & > div:first-child {
      position: relative;
      max-width: 467px;
      height: 617px;
      margin: 0 auto;
    }

    & .book {
      position: absolute;
      max-width: 467px;
      height: auto;
      width: 100%;
      top: 0;
      left: 49%;
      transform: translateX(-50%);
      
      z-index: 2;
    }

    & .yellowBookmark {
      position: absolute;
      width: 172px;
      height: auto;
      top: 20%;
      left: 51%;
      transition: transform 300ms ease, top 300ms ease, left 300ms ease;
      
      z-index: 1;
    }

    &:hover .yellowBookmark {
      top: 20%;
      left: 88%;
      transform: rotate(12deg);
    }

    & .purpleBookmark {
      position: absolute;
      max-width: 172px;
      height: auto;
      top: 20%;
      left: 51%;
      transition: transform 300ms ease, top 300ms ease, left 300ms ease;
      
      z-index: 0;
    }

    &:hover .purpleBookmark {
      top: 40%;
      left: 105%;
      transform: rotate(22deg);
    }

    & .pin {
      position: absolute;
      max-width: 222px;
      height: auto;
      top: 60%;
      left: 22%;
      transition: transform 300ms ease, top 300ms ease, left 300ms ease;
      z-index: 0;
      
    }

    &:hover .pin {
      top: 95%;
      left: -30%;
      transform: rotate(-8deg);
    }

    & .arrow1 {
      position: absolute;
      top: 30%;
      left: 38%;
      transition: top 300ms ease, left 300ms ease;

      z-index: 0;
    }

    &:hover .arrow1 {
      top: 20%;
      left: -30%;
    }

    & .p1 {
      position: absolute;
      top: 30%;
      left: 38%;
      transition: top 300ms ease, left 300ms ease;

      z-index: 0;
    }

    &:hover .p1 {
      top: 15%;
      left: -45%;
    }

    & .arrow2 {
      position: absolute;
      top: 30%;
      left: 38%; 
      transition: top 300ms ease, left 300ms ease;

      z-index: 0;
    }

    &:hover .arrow2 {
      top: 82%;
      left: -43%; 
    }

    & .p2 {
      position: absolute;
      top: 30%;
      left: 38%;
      transition: top 300ms ease, left 300ms ease;

      z-index: 0;
    }

    &:hover .p2 {
      top: 77%;
      left: -48%;
    }


    & .arrow3 {
      position: absolute;
      top: 65%;
      right: 10%;  
      transition: top 300ms ease, right 300ms ease;

      z-index: 0;
    }

    &:hover .arrow3 {
      top: 110%;
      right: -30%;  
    }

    & .p3 {
      position: absolute;
      top: 90%;
      right: 10%;
      transition: top 300ms ease, right 300ms ease;

      z-index: 0;
    }

    &:hover .p3 {
      top: 137%;
      right: -20%;
    }
  }
}

@media (max-width: 768px) {
  .kit-mensal {
    & > div:first-child {
      max-width: 19.438rem;
      height: auto;
      gap: 0.75rem;
      margin: 0 auto 0.5rem;

      & h3 {
        font: 700 1.25rem/normal var(--ff-raleway);
      }
    }

    & p {
      font: 400 0.875rem/1.4 var(--ff-raleway);
      color: var(--text-body);
      opacity: 0.5;
      margin-bottom: 4rem;
    }

    & .book-container {
      height: 310px;
      
      & > div:first-child {  
        max-width: 157px; 
        height: 208px;
        
      }

      & .book {
        max-width: 9.813rem;
      }

      & .yellowBookmark {
        max-width: 3.65rem;
        top: 4%;
      }

      &:hover .yellowBookmark {
        top: 0%;
        left: 88%;
      }

      & .purpleBookmark {
        max-width: 3.65rem;
        top: 4%;
      }

      &:hover .purpleBookmark {
        top: 15%;
        left: 107%;
      }

      & .pin {
        max-width: 4.688rem;
        top: 50%;
        left: 10%;
      }

      &:hover .pin {
        top: 71%;
        left: -31%;
      }

      & .arrow1 {
        max-width: 3.688rem;
        height: auto;
      }

      &:hover .arrow1 {
        top: -5%;
        left: -30%;
      }

      & .arrow2 {
        max-width: 2.206rem;
        height: auto;
        top: 10%;
      }

      &:hover .arrow2 {
        top: 60%;
        left: -40%;
      }

      & .arrow3 {
        max-width: 3.063rem;
        height: auto;
        top: 10%;
      }

      &:hover .arrow3 {
        top: 85%;
        left: 100%;
      }

      & .p1 {
        top: 5%;
        left: 35%;
      }

      &:hover .p1 {
        top: -15%;
        left: -55%;
      }

      & .p2 {
        top: 10%;
        left: 35%;
      }

      &:hover .p2 {
        top: 50%;
        left: -55%;
      }

      & .p3 {
        top: 15%;
        right: 35%;
      }

      &:hover .p3 {
        top: 115%;
        right: -40%;
      }

      & .p1, & .p2, & .p3 {
        font: 400 0.625rem/normal var(--ff-raleway);
      }
    }
  }
}